.view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  background-color: white;
  position: relative;
  width: 75vw;
  height: 75vh;
  overflow: hidden;
}

.cube {
  position: absolute;
  background: #4af;
  border: 3px solid #097;
  width: 80px;
  height: 80px;
}
