.view {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.container {
  background-color: gainsboro;
  position: relative;
  width: 50vw;
  height: 50vh;
  overflow: hidden;
}

.cube {
  position: absolute;
  background: #4af;
  border: 3px solid #097;
  width: 80px;
  height: 80px;
}
